.title{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #FFED66;
    align-items: center;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}




.flex-container{
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #150143;
    font-family: 'Montserrat', sans-serif;
  


}



.buttons{
    margin-top : 50px;
    padding: 15px 32px;
    padding: 0.9em 1.4em;
    margin: 0 0.3em 0.3em 0;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    transition: all 0.2s;
    height:130px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;


    
    }

    button{
        /* padding: 0.9em 1.4em;
        margin: 0 0.3em 0.3em 0;
        text-decoration: none;
        font-weight: 600;
        text-align: center;
        transition: all 0.2s;
        height:130px; */
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none; 
        color:white;
   
       
      } 

    .computerWinner{
        color: #FFED66;
        font-family: 'Lobster', cursive;

    }


    .playerWinner{
        color: #FFED66;
        font-family: 'Lobster', cursive;

    }


    
  button.hover{
    cursor: pointer;
  }


  button:hover{
    background-color: #FFED66;
    
    
  }


  .scores{
    color: #FFED66;
    font-family: 'Lobster', cursive;
    display: flex;
    flex-direction: row;
    padding: 0.9em 1.4em;
}

.scores div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 5px solid rgb(255, 255, 255);
    margin-top: 3px;
    margin-bottom: 20px;
    margin-right: 5px; 
    font-weight: bolder;
    font-size: 20px;    
    
}


.compScoreTxt{

    color:#FFED66;
    margin-right: -5px; 
    margin-left:130px ;


}


.playScoreTxt{
    
    color:#FFED66;
    margin-right: 200px; 
    margin-top: -15px;



}


.compRand{
    
    color:#FFED66;



}

.computerpicks{
    
    color:#FFED66;



}


.reload{
    color:#FFED66;
    font-family: 'Lobster', cursive;
    background-color: #e86464; 
    height: 30px;
    border-radius: 45px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
   
}